<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                      rel="stylesheet"
                      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">VocabLite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <p></p>
    <h4 id="scrollspyHeading1">VocabLite</h4>
    <p>VocabLite - веб-застосунок створений для вивчення нових слів англійської мови</p>
    <h4 id="scrollspyHeading2">Словник</h4>
    <p>На головній сторінці Ви можете обрати рівень складності слів. Рівні поділені на 3 менші уроки. Таким чином вивчаючи слова з уроку, ви будете підвищувати прогрес по рівню.</p>
    <h4 id="scrollspyHeading3">Система вивчення</h4>
    <p>Спочатку Ви побачите слово англійською. Вам потрібно спробувати згадати його переклад, після чого натиснути кнопку "Показати переклад".</p>
       <p> Якщо ваша відповідь збігається з вірною, або є дуже схожою, то відповідайте, що знали переклад. Прогресс та ефективність навчання залежить лише від Вас!</p>
</div>
</body>
</html>