<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Page</title>
</head>
<body>
<p th:text="|Слово: ${word}|"></p>
<p th:text="|Переклад: ${translate}|"></p>
<p>Ви знали переклад?</p>
<form th:action="@{'/' + ${level} +'/' + ${lesson} + '/pageword/Click'}" method="post">
    <button type="submit" name="button" value="yes">Так</button>
    <button type="submit" name="button" value="no">Ні</button>
</form>
<p></p>
<form th:action="@{'/' + ${level} +'/' + ${lesson} + '/pageword/Know'}" method="post">
    <button type="submit" name="button" value="yes">Не показувати це слово</button>
</form>
</body>
</html>