
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Page</title>
</head>
<div class="card text-center">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel" th:text="|${level} - ${lesson}|"></h5>
        <a th:href="@{/Levels}" class="btn-close text-reset" tabindex="-1" role="button" aria-disabled="true"></a>
    </div>
    <div class="card-body">
        <h5 class="card-title"><p th:text="|${word}|"></p></h5>
        <h3 ><p th:text="|${translate}|"></p></h3>
    </div>
    <p>Ви знали переклад?</p>
    <form th:action="@{'/' + ${level} +'/' + ${lesson} + '/pageword/Click'}" method="post">
        <button type="submit" name="button" value="yes">Так</button>
        <button type="submit" name="button" value="no">Ні</button>
    </form>
    <p></p>
    <form th:action="@{'/' + ${level} +'/' + ${lesson} + '/pageword/Know'}" method="post">
        <button type="submit" name="button" value="yes">Не показувати це слово</button>
    </form>
</div>
</body>
</html>