<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка уроків</title>
</head>
<body>
<p th:text="${title}"></p>
<a class="p-2 text-dark" th:href="@{'/' + ${level} + '/lesson1/pageword'}">Урок 1</a>
<p></p>
<a class="p-2 text-dark" th:href="@{'/' + ${level} + '/lesson2/pageword'}">Урок 2</a>
<p></p>
<a class="p-2 text-dark" th:href="@{'/' + ${level} + '/lesson3/pageword'}">Урок 3</a>
</body>
</html>