<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Page</title>
</head>
<body>
<p th:text="|Слово: ${word}|"></p>
<p></p>
<form th:action="@{'/' + ${level} +'/' + ${lesson} + '/pageword/Result'}" method="post">
    <button type="submit" name="button" value="yes">Дивитись переклад</button>
</form>
<p></p>
<form action="/Levels" method="post">
    <button type="submit" name="button" value="yes">Повернутись на рівні</button>
</form>
</body>
</html>